{{ define "main" }}
<h1 style="margin-bottom: 0px;padding-bottom: 1px;">{{ .Page.Title }}</h1>
<div style="opacity:0.9;" >
  <span>
          {{ with .PrevInSection }}
              <a href="{{ .Permalink }}">
          {{ if eq (printf "%s" .Site.Language) "en"}}
              See previous pictures
          {{ else if eq (printf "%s" .Site.Language)  "dk"}}
              Se tidligere billeder
          {{ end }}
              </a>
          {{ end }}
  </span>
  <span style="opacity:0.2;">
      {{with .NextInSection}}
      {{with .PrevInSection}}
          |
      {{end}}
      {{end}}
  </span>
  <span >
      {{ with .NextInSection }}
      <a href="{{ .Permalink }}">
          {{ if eq (printf "%s" .Site.Language) "en"}}
              See next pictures
          {{ else if eq (printf "%s" .Site.Language)  "dk"}}
              Se næste billeder
          {{ end }}
          </a>
      {{ end }}
          
  </span>
</div>



{{ if and (isset .Params "image") .Params.image }} {{ $image := resources.Get
.Params.image }}  {{ with $image }} {{ $thumb := .Resize "1200x" }} {{ printf
`<img src="%s" class="img-responsive gallery-image" />` $thumb.RelPermalink |
safeHTML }} {{end}} {{ end }} {{ .Content }} {{if and (isset .Params
"directory") .Params.directory}} {{$url := printf "%s%s" "./assets"
.Params.directory}} {{$dir := .Params.directory}} {{$header := .Params.image}}
{{range readDir $url}} {{ $imgurl := printf "%s%s%s" $dir "/" .Name}} {{if ne
$header $imgurl}} 
{{ $image_type_arr := split $imgurl "." }}
{{ $image_ext := index $image_type_arr 1 }}
{{ if eq $image_ext "jpg" }}
{{ $image := resources.Get $imgurl}} {{with $image}}  {{ $thumb
    := .Resize "1200x" }} {{ printf `<img
      src="%s"
      class="img-responsive gallery-image"
    />` $thumb.RelPermalink | safeHTML }} {{end}} {{end}} {{end}} {{end}}
    
    <hr/>
    <div style="opacity: 0.8;width:80%;margin-left: auto; margin-right: auto;">
{{ end }}


    

  {{- partial "map.html" (dict "Context" . "show" false) -}}
</div>

{{ template "_internal/disqus.html" . }} {{ end }}
