<div class="footer">
    <span style="font-size: 14px;">
        {{ if eq (printf "%s" .Site.Language) "en"}}
            This is just a simple page to keep track of what I've been up to lately. If you want to reach me, do so either on <b>sebni@itu.dk</b> (work) or <b>sebastian.m.nicolajsen@gmail.com</b> (for personal inquiries). </span>
        {{ else if eq (printf "%s" .Site.Language)  "dk"}}
            Det her er bare en simpel side til at holde styr på hvad jeg har haft gang i på det seneste. Hvis du ønsker at få kontakt til mig, så gør dette på enten <b>sebni@itu.dk</b> (arbejdsmail) eller <b>sebastian.m.nicolajsen@gmail.com</b> (for personlige henvendelser). </span>
        {{ end }}
        
        
</div>
