<div style="background-color: black; width: 100%; height: 300px" id="map"></div>

<style>
  a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"]
  {
    display: none !important;
  }
  .gm-bundled-control .gmnoprint {
    display: block;
  }
  .gmnoprint:not(.gm-bundled-control) {
    display: none;
  }
</style>

<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

<script>
  ((g) => {
    var h,
      a,
      k,
      p = "The Google Maps JavaScript API",
      c = "google",
      l = "importLibrary",
      q = "__ib__",
      m = document,
      b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}),
      r = new Set(),
      e = new URLSearchParams(),
      u = () =>
        h ||
        (h = new Promise(async (f, n) => {
          await (a = m.createElement("script"));
          e.set("libraries", [...r] + "");
          for (k in g)
            e.set(
              k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
              g[k]
            );
          e.set("callback", c + ".maps." + q);
          a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
          d[q] = f;
          a.onerror = () => (h = n(Error(p + " could not load.")));
          a.nonce = m.querySelector("script[nonce]")?.nonce || "";
          m.head.append(a);
        }));
    d[l]
      ? console.warn(p + " only loads once. Ignoring:", g)
      : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
  })({
    key: "{{ .Site.Params.google_maps_api_key }}",
    v: "weekly",
  });

  let map;
  // initMap is now async
  async function initMap() {
    // Request libraries when needed, not in the script tag.
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    const { PinElement } = await google.maps.importLibrary("marker");

    // Short namespaces can be used.
    map = new Map(document.getElementById("map"), {
      center: { lat: 30.773972, lng: -118.431297 },
      mapId: "{{ .Site.Params.google_maps_map_id }}",
      zoom: 4,
      disableDefaultUI: true,
      zoomControl: true,
      mapTypeControl: true,
      scaleControl: true,
      fullscreenControl: true,
    });

    const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    let labelIndex = 0;

    function marker(lat, lng, title, ref, map) {
      const svgMarker = {
        path: "M-1.547 12l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM0 0q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
        fillColor: "blue",
        fillOpacity: 0.6,
        strokeWeight: 0,
        rotation: 0,
        scale: 2,
        anchor: new google.maps.Point(0, 20),
      };

      const icon = document.createElement("div");

      icon.innerHTML = '<i class="fa fa-pizza-slice fa-lg"></i>';

      const faPin = new PinElement({
        glyph: labels[labelIndex % labels.length],
        glyphColor: "{{ .Site.Params.markerColor}}",
        background: "{{ .Site.Params.markerBackground}}",
        borderColor: "{{ .Site.Params.markerBorder}}",
      });
      labelIndex++;
      const marker = new AdvancedMarkerElement({
        position: { lat: Number(lat), lng: Number(lng) },
        map,
        title: title,
        content: faPin.element,
        gmpClickable: true,
      });
      marker.addListener("click", ({ domEvent, latLng }) => {
        window.location = "/posts/" + ref;
      });
    }

    ("{{range .Site.Data.places.places}}");
    marker("{{.lat}}", "{{.lng}}", "{{.name}}", "{{.ref}}", map);
    ("{{end}}");
  }

  initMap();
</script>
