


<div style="background-color: black; width: 100%; height: 300px;opacity:0.5" id="map"></div>
<div style="text-align: center; opacity:1">

{{ if eq (printf "%s" .show) "true"}}
  {{ if eq (printf "%s" .Context.Site.Language) "en"}}
    <span style="color:{{.Context.Site.Params.markerLocationBackground}};background-color:#F9F9F;">Markers</span> (G) in this color links to series of pictures and <span style="color:{{.Context.Site.Params.markerPostBackground}};">Markers</span> (P) in this color refers to posts.
  {{ else if eq (printf "%s" .Context.Site.Language)  "dk"}}
    <span style="color:{{.Context.Site.Params.markerLocationBackground}};">Markører</span> (G) i denne farve linker til billedserier og <span style="color:{{.Context.Site.Params.markerPostBackground}};">Markører</span> (P) i denne farve linker til opslag.
  {{ end }}
  {{ else }}
  {{ if eq (printf "%s" .Context.Site.Language) "en"}}
    <span>Clicking a marker leads to a gallery of a certain location. Zoom to see all markers.</span>
  {{ else if eq (printf "%s" .Context.Site.Language)  "dk"}}
  <span>Ved tryk på en markør føres du til et galleri med billeder fra lokationen. Zoom ind for at se alle markører.</span>
  {{ end }}

{{end}}
</div>


<style>
  a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"]
  {
    display: none !important;
  }
  .gm-bundled-control .gmnoprint {
    display: block;
  }
  .gmnoprint:not(.gm-bundled-control) {
    display: none;
  }
</style>

<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

<script>
  ((g) => {
    var h,
      a,
      k,
      p = "The Google Maps JavaScript API",
      c = "google",
      l = "importLibrary",
      q = "__ib__",
      m = document,
      b = window;
    b = b[c] || (b[c] = {});
    var d = b.maps || (b.maps = {}),
      r = new Set(),
      e = new URLSearchParams(),
      u = () =>
        h ||
        (h = new Promise(async (f, n) => {
          await (a = m.createElement("script"));
          e.set("libraries", [...r] + "");
          for (k in g)
            e.set(
              k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
              g[k]
            );
          e.set("callback", c + ".maps." + q);
          a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
          d[q] = f;
          a.onerror = () => (h = n(Error(p + " could not load.")));
          a.nonce = m.querySelector("script[nonce]")?.nonce || "";
          m.head.append(a);
        }));
    d[l]
      ? console.warn(p + " only loads once. Ignoring:", g)
      : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
  })({
    key: "{{ .Context.Site.Params.google_maps_api_key }}",
    v: "weekly",
  });

  var map;
  // initMap is now async
  async function initMap() {
    // Request libraries when needed, not in the script tag.
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    const { PinElement } = await google.maps.importLibrary("marker");

    // Short namespaces can be used.
    map = new Map(document.getElementById("map"), {
      center: { lat: 30.773972, lng: -118.431297 },
      mapId: "{{ .Context.Site.Params.google_maps_map_id }}",
      zoom: 4,
      sensor: false,
      v: 3.14,
      disableDefaultUI: true,
      zoomControl: true,
      mapTypeControl: true,
      scaleControl: true,
      fullscreenControl: true,
    });

    const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    let postIndex = 0;
    let pictureIndex = 0;

    function marker(lat, lng, title, ref, type, map) {
      const v = "{{.show}}"

      if(v === "false" && type === "post") return;

      const addr = "/{{.Context.Lang}}/" +  (type === "post" ? "/posts/" : "/photos/")

      const typeDic = {
        location: {
          glyphColor: "{{ .Context.Site.Params.markerLocationColor}}",
          background: "{{ .Context.Site.Params.markerLocationBackground}}",
          borderColor: "{{ .Context.Site.Params.markerLocationBorder}}",
        },
        post: {
          glyphColor: "{{ .Context.Site.Params.markerPostColor}}",
          background: "{{ .Context.Site.Params.markerPostBackground}}",
          borderColor: "{{ .Context.Site.Params.markerPostBorder}}",
        },
      };
      const faPin = new PinElement({
        glyph: type === "post" ? `P` : `X`,
        glyphColor: typeDic[type].glyphColor,
        background: typeDic[type].background,
        borderColor: typeDic[type].borderColor,
      });

      if(type === "post") postIndex++; else pictureIndex++;
      const marker = new AdvancedMarkerElement({
        position: { lat: Number(lat), lng: Number(lng) },
        map,
        title: title,
        content: faPin.element,
        gmpClickable: true,
      });
      marker.addListener("click", ({ domEvent, latLng }) => {
        window.location = addr + ref;
      });
    }

    ("{{range .Context.Site.Data.places.places}}");
    marker("{{.lat}}", "{{.lng}}", "{{.name}}", "{{.ref}}", "{{.type}}", map);
    ("{{end}}");
   
  }


  

  initMap();
  
  
</script>

